* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

/*----------------- MENU -----------------------------*/
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0; /* El menú se quedará pegado en la parte superior */
    background-color: #fff;
    z-index: 3;
}

.logo-list-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 200px;
    height: auto;
    margin-left: 10px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    margin: 0 10px;
    border-radius: 20px;
}

.menu li a {
    text-decoration: none; /* Quita la decoración de subrayado predeterminada */
    color: inherit; /* Hereda el color del texto del elemento li */
    display: block; /* Hace que los enlaces ocupen todo el ancho del li */
    padding: 10px; /* Añade relleno para espaciar el contenido del enlace */
}



/* Estilos para la lista de PRODUCTOS */
.dropdown {
    position: relative;
    padding: 0;
}

.has-arrow {
    display: block;
    align-items: center;
}

.has-arrow .arrow {
    display: inline-block;
    position: absolute;
    transition: transform 0.3s;
}

.has-arrow:hover .arrow {
    transform: rotate(180deg);
}



.submenu {
    height: 250px;
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center;
    font-weight: bold;
    overflow-y: scroll;
}


.dropdown:hover .submenu {
    display: block;
}
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background: #000000;
    margin: 3px 0;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  }

  .boton-menu-abrir,
  .boton-menu-cerrar {
      display: none;
  }



.menu li {
    margin: 0 20px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave por defecto */
}
.menu li:hover {
    background-color: rgb(0, 115, 255); /* Cambia el color de fondo a azul */
    color: white; /* Cambia el color del texto a blanco */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
}


.menu li.dropdown:hover {
    background-color: initial; /* Elimina la animación de fondo al hacer hover */
    color: inherit; /* Mantén el color del texto igual */
}

.submenu li:nth-child(1):hover{
    background-color: blue;
    color: rgb(255, 255, 0);
    font-weight: bold;

}

.submenu li:nth-child(2):hover{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    font-weight: bold;
}

.submenu li:nth-child(3):hover{
    background: blue;
    color: white;
    font-weight: bold;
}
.submenu li:nth-child(4):hover{
    color: rgb(246, 255, 0);
    background-color: rgb(255, 0, 0);
    font-weight: bold;
}
.submenu li:nth-child(5):hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.submenu li:nth-child(6):hover{
    background: rgb(255, 213, 0);
    color: rgb(0, 0, 255);
    font-weight: bold;
}

.submenu li:nth-child(8):hover{
    background: rgb(255, 247, 0);
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.submenu li:nth-child(10):hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* Estilos adicionales para hacerlo responsive */
@media (max-width: 865px) {

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0); /* Transparente al principio */
        z-index: 2;
        pointer-events: none; /* Evita la interacción con el contenido de fondo */
        transition: background 0.3s;
    }
    
    .boton-menu-abrir,
    .boton-menu-cerrar {
        display: inline-block;
        position: absolute;
        right: 30px;
        height: 30px;
        width: 40px;
    }
    .boton-menu-cerrar{
        display: none;
        z-index: 4;
    }
      .botones.abierto{
        display: flex;
      }
    .boton-menu-cerrar.visible {
        display: flex;
      }
      
    .menu-container {
        height: 100px;
        align-items: center;
    }

    .menu.abierto {
        display: flex;
        flex-direction: column;
        position: fixed; /* Cambiar a posición fija */
        top: 0;
        right: 0;
        bottom: 0; /* Extender hasta abajo */
        background: #fff;
        padding: 75px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        z-index: 3;
        visibility: visible;
        transition: right 0.3s;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: fixed; /* Cambiar a posición fija */
        top: 0;
        right: -200px;
        bottom: 0; /* Extender hasta abajo */
        background: #fff;
        padding: 75px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        z-index: 3;
        transition: right 0.3s;
    }

    .menu li {
        margin: 5px 0;
    }

    .menu li:last-child {
        margin-top: auto; /* Empujar el último elemento hacia abajo, haciendo que esté en la parte inferior */
    }

    .submenu {
        height: 212px;
        margin: -6px;
        position: absolute;
        display: none;
        margin-top: 0;
        padding: 0;
        box-shadow: none;
        left: 25px;
    }
    .submenu li {
        padding: 0;
    }
}
/*----------------- FIN MENU -----------------------------*/



/* Agrega la imagen de fondo al elemento "nombre_empresa" */
.nombre_empresa {
    background-size: cover;
    background-position: center;
    text-align: center;
}

/* Estilo adicional para el título "Sobre Nosotros" */
.nombre_empresa h1 {
    margin: 20px;
}

.nombre_empresa h2 {
    background-color: rgb(0, 115, 255);
    /* Fondo semitransparente para mejorar la legibilidad del texto */
    color: #fff;
    /* Color del texto */
    padding: 60px 0;
}



.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1,
h2,
.texto {
    margin-top: 30px;
    text-align: center;
    text-wrap: balance;
    padding: 0 40px;
}

.titulo{
    margin-top: 30px;
}

.lista {
    list-style: none;
    padding: 0;
    text-align: center;
}



.tarjetas-container {
    margin-bottom: 220px;
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    /* Colocar las tarjetas de manera horizontal */
    justify-content: space-between;
    /* Espacio entre las tarjetas */
}

.tarjeta {
    text-align: center;
    margin: 10px;
    flex: 1;
    /* Hace que las tarjetas ocupen el mismo espacio horizontalmente */
}

.circulo {
    border-radius: 50%;
    /* Forma de círculo para la imagen */
    width: 100px;
    /* Tamaño de la imagen circular */
    height: 100px;
    object-fit: cover;
}

.texto {
    margin-top: 10px;
    font-size: 1.2em;
}


.contenedor_vision {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    margin-bottom: 220px;
}

.titulo_vision{
    margin-bottom: 20px;
}
.texto_vision {
    margin: 20px;
    font-size: 1.5em;
}



.titulo_mision{
    margin-bottom: 10px;
}

.contenedor_mision {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    text-align: center;
    margin-bottom: 220px;
}


.texto_mision {
    margin: 20px;
    font-size: 1.5em;
}
.contenedor_img{
    max-width: 450px
}

.imagen{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.contenedor-valores {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 100px;
}
.titulo_valores {
    font-size: 70px; /* Ajusta el tamaño de la fuente según tus preferencias */
    margin-right: 20px; /* Espacio entre el título y la lista */
}
.lista {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.lista li {
    font-size: 35px; /* Ajusta el tamaño de la fuente de los elementos de la lista en pantallas más pequeñas */
    margin-bottom: 60px; /* Espacio entre los elementos de la lista en pantallas más pequeñas */
}
.lista li::before {
    content: "\2713"; /* Código Unicode de la flecha verde (✓) */
    color: green;
    margin-right: 5px; /* Espacio entre la flecha y el texto */
}

@media (max-width: 768px) {
    .contenedor-valores {
        flex-direction: column;
    }
    .titulo_valores {
        margin-right: 0;
        margin-bottom: 20px;
        font-size: 40px;
    }
    .lista li {
        flex-basis: 100%;
        font-size: 20px; /* Ajusta el tamaño de la fuente de los elementos de la lista en pantallas más pequeñas */
    }
}

@media (max-width: 870px) {
    .contenedor_vision,
    .contenedor_mision {
        flex-direction: column;
    }
    .texto_vision,
    .texto_mision{
        font-size: 1em;
    }

    
}

@media (max-width: 768px) {
    .tarjetas-container {
        flex-direction: column;
        /* Colocar las tarjetas de manera vertical en dispositivos móviles */
    }
}

@media (max-width: 444px) {
    h1{
        font-size: 1.7em;
    }
    .texto{
        font-size: 0.9em;
    }
}

/* Estilos para la parte izquierda del footer */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-left ul li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-left ul li a:hover {
    color: rgb(0, 115, 255);
}

.footer-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-left ul li {
    display: inline;
    margin-right: 20px;
}

.productos {
    margin-top: 30px;
}

.productos a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 0.9em;
}

.productos a:hover {
    color: rgb(0, 115, 255);
}

.derechos-copyright {
    margin-top: 30px;
    font-size: 0.8em;
}

.footer-center {
    text-align: center;
    margin-right: 5%;
    margin-top: 20px;
}

.footer-center p {
    margin: 0 0 10px;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-media a img {
    width: 32px; /* Tamaño del icono */
    height: 32px; /* Tamaño del icono */
    margin-right: 8px;
    vertical-align: middle;
}

.social-media a:hover {
    color: rgb(0, 115, 255);
}

.footer-right {
    text-align: center;
    margin-top: 10px;
    width: 100%; /* Toma todo el ancho disponible */
}

.logo_footer img {
    width: 280px;
    height: auto;
}

.copyright {
    font-size: 12px;
    margin-top: 10px;
}

@media screen and (max-width: 865px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centro el contenido del footer */
        text-align: center; /* Centro el texto dentro del footer */
    }  
    .footer-left ul {
        text-align: center;
    }

    .footer-left ul li {
        display: block;
        margin: 5px 0;
    }

    .footer-center {
        margin-top: 40px;
        width: 100%;
        margin-right: 0;
    }

    .social-media {
        flex-direction: column;
        align-items: center;
    }

    .social-media a {
        margin-bottom: 10px;
    }

    .footer-right {
        width: 100%;
        text-align: center;
        margin-left: 30px;
    }
}
