* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial';
}

/*----------------- MENU -----------------------------*/
.menu-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
    position: sticky;
    top: 0; /* El menú se quedará pegado en la parte superior */
    background-color: #fff;
    z-index: 3;
}

.logo-list-container {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 200px;
    height: auto;
    margin-left: 10px;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    margin: 0 10px;
    border-radius: 20px;
}

.menu li a {
    text-decoration: none; /* Quita la decoración de subrayado predeterminada */
    color: inherit; /* Hereda el color del texto del elemento li */
    display: block; /* Hace que los enlaces ocupen todo el ancho del li */
    padding: 10px; /* Añade relleno para espaciar el contenido del enlace */
}



/* Estilos para la lista de PRODUCTOS */
.dropdown {
    position: relative;
    padding: 0;
}

.has-arrow {
    display: block;
    align-items: center;
}

.has-arrow .arrow {
    display: inline-block;
    position: absolute;
    transition: transform 0.3s;
}

.has-arrow:hover .arrow {
    transform: rotate(180deg);
}



.submenu {
    height: 250px;
    display: none;
    list-style: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 2;
    text-align: center;
    font-weight: bold;
    overflow-y: scroll;
}


.dropdown:hover .submenu {
    display: block;
}
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background: #000000;
    margin: 3px 0;
  }
  
  .menu {
    list-style: none;
    padding: 0;
    display: flex;
  }
  
  .menu li {
    margin: 0 10px;
  }

  .boton-menu-abrir,
  .boton-menu-cerrar {
      display: none;
  }



.menu li {
    margin: 0 20px;
    padding: 10px;
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave por defecto */
}
.menu li:hover {
    background-color: rgb(0, 115, 255); /* Cambia el color de fondo a azul */
    color: white; /* Cambia el color del texto a blanco */
    transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave */
}


.menu li.dropdown:hover {
    background-color: initial; /* Elimina la animación de fondo al hacer hover */
    color: inherit; /* Mantén el color del texto igual */
}

.submenu li:nth-child(1):hover{
    background-color: blue;
    color: rgb(255, 255, 0);
    font-weight: bold;

}

.submenu li:nth-child(2):hover{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    font-weight: bold;
}

.submenu li:nth-child(3):hover{
    background: blue;
    color: white;
    font-weight: bold;
}
.submenu li:nth-child(4):hover{
    color: rgb(246, 255, 0);
    background-color: rgb(255, 0, 0);
    font-weight: bold;
}
.submenu li:nth-child(5):hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.submenu li:nth-child(6):hover{
    background: rgb(255, 213, 0);
    color: rgb(0, 0, 255);
    font-weight: bold;
}

.submenu li:nth-child(8):hover{
    background: rgb(255, 247, 0);
    color: rgb(255, 0, 0);
    font-weight: bold;
}

.submenu li:nth-child(10):hover{
    background: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
}

/* Estilos adicionales para hacerlo responsive */
@media (max-width: 865px) {

    .overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0); /* Transparente al principio */
        z-index: 2;
        pointer-events: none; /* Evita la interacción con el contenido de fondo */
        transition: background 0.3s;
    }
    
    .boton-menu-abrir,
    .boton-menu-cerrar {
        display: inline-block;
        position: absolute;
        right: 30px;
        height: 30px;
        width: 40px;
    }
    .boton-menu-cerrar{
        display: none;
        z-index: 4;
    }
      .botones.abierto{
        display: flex;
      }
    .boton-menu-cerrar.visible {
        display: flex;
      }
      
    .menu-container {
        height: 100px;
        align-items: center;
    }

    .menu.abierto {
        display: flex;
        flex-direction: column;
        position: fixed; /* Cambiar a posición fija */
        top: 0;
        right: 0;
        bottom: 0; /* Extender hasta abajo */
        background: #fff;
        padding: 75px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        z-index: 3;
        visibility: visible;
        transition: right 0.3s;
    }

    .menu {
        display: flex;
        flex-direction: column;
        position: fixed; /* Cambiar a posición fija */
        top: 0;
        right: -200px;
        bottom: 0; /* Extender hasta abajo */
        background: #fff;
        padding: 75px 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 1);
        z-index: 3;
        transition: right 0.3s;
    }

    .menu li {
        margin: 5px 0;
    }

    .menu li:last-child {
        margin-top: auto; /* Empujar el último elemento hacia abajo, haciendo que esté en la parte inferior */
    }

    .submenu {
        height: 212px;
        margin: -6px;
        position: absolute;
        display: none;
        margin-top: 0;
        padding: 0;
        box-shadow: none;
        left: 25px;
    }
    .submenu li {
        padding: 0;
    }
}
/*----------------- FIN MENU -----------------------------*/


.nombre_empresa{
    text-align: center;
    margin-top: 50px;
}

.contenedor_form{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
    margin-bottom: 110px;
}


.contact-info {
    flex: 1;
    width: 80%;
    max-width: 400px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h3 {
    margin: 0 0 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 10px;
    
}

ul li a{
    color: blue;
    text-decoration: none; 
    background-color: transparent;
}

@media screen and (max-width: 840px) {
    .contenedor_form{
        flex-direction: column-reverse;
    }

    .contact-info{
        margin-bottom: 20px;
    }
}

#map-container {
    max-width: 400px;
    border-radius: 5px;
    overflow: hidden;
    
}

#map {
    width: 100%;
    height: 415px;
    border: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
h3{
    text-align: center;
}


/* Estilos para la parte izquierda del footer */
footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.footer-left ul li a {
    text-decoration: none;
    color: #ffffff;
}

.footer-left ul li a:hover {
    color: rgb(0, 115, 255);
}

.footer-left ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-left ul li {
    display: inline;
    margin-right: 20px;
}

.productos {
    margin-top: 30px;
}

.productos a {
    color: #ffffff;
    text-decoration: none;
    margin-right: 10px;
    font-size: 0.9em;
}

.productos a:hover {
    color: rgb(0, 115, 255);
}

.derechos-copyright {
    margin-top: 30px;
    font-size: 0.8em;
}

.footer-center {
    text-align: center;
    margin-right: 5%;
    margin-top: 20px;
}

.footer-center p {
    margin: 0 0 10px;
}

.social-media {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.social-media a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.social-media a img {
    width: 32px; /* Tamaño del icono */
    height: 32px; /* Tamaño del icono */
    margin-right: 8px;
    vertical-align: middle;
}

.social-media a:hover {
    color: rgb(0, 115, 255);
}

.footer-right {
    text-align: center;
    margin-top: 10px;
    width: 100%; /* Toma todo el ancho disponible */
}

.logo_footer img {
    width: 280px;
    height: auto;
}

.copyright {
    font-size: 12px;
    margin-top: 10px;
}

@media screen and (max-width: 865px) {
    footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Centro el contenido del footer */
        text-align: center; /* Centro el texto dentro del footer */
    }  
    .footer-left ul {
        text-align: center;
    }

    .footer-left ul li {
        display: block;
        margin: 5px 0;
    }

    .footer-center {
        margin-top: 40px;
        width: 100%;
        margin-right: 0;
    }

    .social-media {
        flex-direction: column;
        align-items: center;
    }

    .social-media a {
        margin-bottom: 10px;
    }

    .footer-right {
        width: 100%;
        text-align: center;
        margin-left: 30px;
    }
}
